{% extends 'base.html' %}

{% block content %} 

<table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Establishment Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Last Score</th>
        </tr>
      </thead>
      <tbody>
        
        {% for r in restaurants%}

        <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="{% url 'inspections' r.pk%}">{{r.name}}</td>
          <td>{{r.address}}</td>
          <td>{{r.city}}</td>
          <td>{{r.score}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

<ul class="pagination">
        {% if restaurants.has_previous %}
            <li><a href="?page={{ restaurants.previous_page_number }}">«</a></li>
        {% endif %}

        <li class="disabled">
            <a>Page {{ restaurants.number }} of {{ restaurants.paginator.num_pages }}.</a>
        </li>

        {% if restaurants.has_next %}
            <li><a href="?page={{ restaurants.next_page_number }}">»</a></li>
        {% endif %}
</ul>

 {%endblock %}
