{% extends 'base.html' %}


{% block headtitle%} {{i.restaurant.name}} {%endblock%}

{% block content %} 
 
 
<table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Inspection Type </th>
          <th>Inspection Date </th>
          <th>Critical</th>
          <th>Repeated Critical</th>
          <th>Last Score</th>
        </tr>
      </thead>
      <tbody>
        
        {% for i in inspections %}

        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'violations' i.pk%}">{{i.inspection_type}}</a></td>
          <td>{{i.date}}</td>
          <td>{{i.repeated_violations}}</td>
          <td>{{i.critical_violations}}</td>
          <td>{{i.score}}</td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

<ul class="pagination">
        {% if inspections.has_previous %}
            <li><a href="?page={{ inspections.previous_page_number }}">«</a></li>
        {% endif %}

        <li class="disabled">
            <a>Page {{ inspections.number }} of {{ inspections.paginator.num_pages }}.</a>
        </li>

        {% if inspections.has_next %}
            <li><a href="?page={{ inspections.next_page_number }}">»</a></li>
        {% endif %}
</ul>

 {%endblock %}
