{% extends 'base.html' %}

{% block content %} 
<table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Establishment Name</th>
          <th>Inspection Type</th>
          <th>Violation Description</th>
        </tr>
      </thead>
      <tbody>
        
        {% for v in violations%}

        <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="{% url 'inspections' v.inspection.pk%}">{{v.inspection.restaurant.name}}</a></td>
          <td>{{v.inspection.inspection_type}}</td>
          <td>{{v.description}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

<ul class="pagination">
        {% if violations.has_previous %}
            <li><a href="?page={{ violations.previous_page_number }}">«</a></li>
        {% endif %}

        <li class="disabled">
            <a>Page {{ violations.number }} of {{ violations.paginator.num_pages }}.</a>
        </li>

        {% if violations.has_next %}
            <li><a href="?page={{ violations.next_page_number }}">»</a></li>
        {% endif %}
</ul>

 {%endblock %}
